<!DOCTYPE html>
<html lang="en">
  <%- include('./Partials/head.ejs') %>

  <body>
    <%- include('./Partials/nav.ejs') %>
    <h1>About me</h1>
    <div class="wrapper">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus,
        deleniti placeat blanditiis fuga dolorum ex ipsam exercitationem
        consectetur aliquid eligendi!
      </p>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Neque saepe
        ex, error in consequuntur expedita consequatur pariatur provident
        praesentium, tempore, ab ipsum? Adipisci ullam, quidem sunt maxime vel
        libero id blanditiis nostrum magnam aperiam earum. In a quo blanditiis,
        corporis eos necessitatibus, reiciendis magni tempora nihil ex beatae
        unde aperiam?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur,
        enim!ss
      </p>
    </div>
    <%- include('./Partials/footer.ejs') %>
  </body>
</html>
