<!DOCTYPE html>
<html lang="en">
  <%- include('./Partials/head.ejs') %>
  <body>
    <%- include('./Partials/nav.ejs') %>
    <h1>This is a header</h1>
    <div class="wrapper">
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci nobis
        fugiat quisquam alias, nesciunt cum, repellendus beatae numquam iure
        dolorem reiciendis minus obcaecati! Aliquam quis similique repudiandae
        recusandae perspiciatis saepe?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio,
        perspiciatis sint praesentium dignissimos harum eius?
      </p>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur,
        ipsam!
      </p>
    </div>

    <%- include('./Partials/footer.ejs') %>
  </body>
</html>
